<div id="adminpanel_top_product" class="form">
<%= simple_form_for(@top_product,
  :url => (@top_product.id.blank? ? adminpanel_top_product_path : adminpanel_top_product_path(@top_product.id)) ) do |f| %>
  <%= render "/shared/error_messages", :target => @top_product %>

  <div class="inputs">
  <%= f.input :name %>

  </div>
  <div class="actions">
    <button type="submit">提交</button>
     或者 <%= link_to '返回', adminpanel_top_products_path %>
  </div>
<% end %>
</div>
