<div class="listright">
  <img src="/images/systemimg.jpg" width="305" height="454" border="0" />
  <ul class="rightlist"><li style="font-size:16px">这里是后台信息管理首页</li>
    <li>您可以在这里</li>
    <li>1.添加\修改\删除产品类别信息<br />
        2.添加\修改\删除团购类别信息<br />
      3.修改管理员密码</li></ul>
</div>
