<% pagetitle("折扣促销") %>
<div class="main">
  <div class="cx ">
    <h1><a href="#">女士服饰</a>   <a href="#">男士服饰  </a>  <a href="#">数码家电</a>    <a href="#">食品美食</a>    <a href="#">美容化妆 </a>  <a href="#">饰品首饰</a>   <a href="#">家居建材</a>   <a href="#">母婴用品</a>    <a href="#">图书</a>  <a href="#">运动户外</a>   <a href="#"> 机票酒店</a>    <a href="#">品牌展示</a>   <a href="#">热门活动</a>  <a href="#"> 其他</a> </h1>
  </div>
  <div class="cxA">
    <dl>
      <dt><img src="/images/cx_10.jpg" width="240" height="151" /></dt>
      <dd><img src="/images/cx_04.jpg" width="164" height="163" /></dd>
      <dd><img src="/images/cx_12.jpg" /></dd>
      <dd><img src="/images/cx_06.jpg" /></dd>
      <dd><img src="/images/cx_08.jpg" /></dd>
    </dl>
  </div>
  <div class="cxB">
    <span><a href="#">>>更多</a></span>
    <h1>推荐品牌 Brands</h1>
  </div>
  <div class="cxC">
    <ul>
      <li><img src="/images/cx__18.jpg" /></li>
      <li><img src="/images/cx_-10.jpg" /></li>
      <li><img src="/images/cx_09.jpg" /></li>
      <li><img src="/images/cx_11.jpg" /></li>
    </ul>
  </div>
  <div class="cxB">
    <span><a href="#">>>更多</a></span>
    <h1>服饰推荐商家 Business  </h1>
  </div>
  <div class="cxD">
    <ul>
      <li><img src="/images/cx_1.jpg" /></li>
      <li><img src="/images/cx_2.jpg" /></li>
      <li><img src="/images/cx_3.jpg" /></li>
      <li><img src="/images/cx_4.jpg" /></li>
      <li><img src="/images/cx_5.jpg" /></li>
      <li><img src="/images/cx_6.jpg" width="130" height="156" /></li>
      <li><img src="/images/cx_7.jpg" /></li>

    </ul>
  </div>
  <div class="cx"><span><a href="#">>>更多</a></span><h1>热门活动</h1></div>
  <div class="cxE">
    <dl>
      <dt><span><script type="text/javascript">
        alimama_pid="mm_28794925_2438216_9349553";
        alimama_titlecolor="0000FF";
        alimama_descolor ="000000";
        alimama_bgcolor="FFFFFF";
        alimama_bordercolor="E6E6E6";
        alimama_linkcolor="008000";
        alimama_bottomcolor="FFFFFF";
        alimama_anglesize="0";
        alimama_bgpic="0";
        alimama_icon="0";
        alimama_sizecode="14";
        alimama_width=728;
        alimama_height=90;
        alimama_type=2;
          </script>
          <script src="http://a.alimama.cn/inf.js" type="text/javascript">
          </script></span><h1>离活动结束还剩：1天8时18分6秒</h1></dt>
      <dd><img src="/images/cx_2-1.jpg" /></dd>
    </dl>
    <dl>
      <dt><span><script type="text/javascript">
        alimama_pid="mm_28794925_2438216_9350309";
        alimama_titlecolor="0000FF";
        alimama_descolor ="000000";
        alimama_bgcolor="FFFFFF";
        alimama_bordercolor="E6E6E6";
        alimama_linkcolor="008000";
        alimama_bottomcolor="FFFFFF";
        alimama_anglesize="0";
        alimama_bgpic="0";
        alimama_icon="0";
        alimama_sizecode="11";
        alimama_width=760;
        alimama_height=90;
        alimama_type=2;
          </script>
          <script src="http://a.alimama.cn/inf.js" type="text/javascript">
          </script></span><h1>离活动结束还剩：1天8时18分6秒</h1></dt>
      <dd><img src="/images/cx_2-2.jpg" /></dd>
    </dl>
    <dl>
      <dt><span><script type="text/javascript">
        alimama_pid="mm_28794925_2438216_9350054";
        alimama_titlecolor="0000FF";
        alimama_descolor ="000000";
        alimama_bgcolor="FFFFFF";
        alimama_bordercolor="E6E6E6";
        alimama_linkcolor="008000";
        alimama_bottomcolor="FFFFFF";
        alimama_anglesize="0";
        alimama_bgpic="0";
        alimama_icon="0";
        alimama_sizecode="43";
        alimama_width=760;
        alimama_height=480;
        alimama_type=2;
          </script>
          <script src="http://a.alimama.cn/inf.js" type="text/javascript">
          </script>
        </span><h1>离活动结束还剩：1天8时18分6秒</h1></dt>

      <dd><img src="/images/cx_2-3.jpg"></dd>
    </dl>



    <dl>
      <dt><span><script type="text/javascript">
        alimama_pid="mm_28794925_2438216_9350057";
        alimama_titlecolor="0000FF";
        alimama_descolor ="000000";
        alimama_bgcolor="FFFFFF";
        alimama_bordercolor="E6E6E6";
        alimama_linkcolor="008000";
        alimama_bottomcolor="FFFFFF";
        alimama_anglesize="0";
        alimama_bgpic="0";
        alimama_icon="0";
        alimama_sizecode="33";
        alimama_width=360;
        alimama_height=190;
        alimama_type=2;
          </script>
          <script src="http://a.alimama.cn/inf.js" type="text/javascript">
          </script> </span><h1>离活动结束还剩：1天8时18分6秒</h1></dt>
      <dd><img src="/images/cx_2-4.jpg" /></dd>
    </dl>
  </div>
  <div class="cx_AD"><a href="#"><img src="/images/cx_105.jpg" border="0" /></a></div>
</div>
