<%= render 'base' %>
<div class="tools">
  <%= link_to '修改', edit_adminpanel_tuangou_cate_tuangou_site_path(@tuangou_cate,@tuangou_site) %> |
  <%= link_to '返回', adminpanel_tuangou_cate_tuangou_sites_path(@tuangou_cate) %>
</div>
<div id="adminpanel_tuangou_site">
  <p>
    <b>Name:</b>
    <%= @tuangou_site.name %>
  </p>

</div>
