<%#= render 'base' %>
<div class="tools">
  <%= link_to '修改', edit_adminpanel_top_product_middle_product_end_product_path(@top_product,@middle_product,@end_product) %> |
  <%= link_to '返回', adminpanel_top_product_middle_product_end_products_path(@top_product) %>
</div>
<div id="adminpanel_end_product">
  <p>
    <b>Name:</b>
    <%= @end_product.name %>
  </p>

</div>
