<%= render 'base' %>
<div class="tools">
  <%= link_to '修改', edit_adminpanel_composite_site_path(@composite_site) %> |
  <%= link_to '返回', adminpanel_composite_sites_path %>
</div>
<div id="adminpanel_composite_site">
  <p>
    <b>Name:</b>
    <%= @composite_site.name %>
  </p>

</div>
